

.text-reverser__form {
	position: relative;
	display: block;
	max-width: 700px;
	margin: 30px auto;
	width: 100%;
}

.text-reverser__arrow {
    display: block;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);

    path {
        fill: #b0b0c8;
    }
}

.text-reverser__legend {
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	background-color: lighten(#4d4d6d, 10%);
	padding: 5px 8px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
    border-top-left-radius: 3px;
}

.text-reverser__textarea {
	padding: 33px 10px 10px;
	border-radius: 3px;
	border: none;
	outline: none;
	width: 100%;
	resize: none;
	height: 100px;

    &--output {
        background-color: rgba(255, 255, 255, 0.05);
    }
}
